
<div class="bg-white rounded-8 shadow-black p-4   align-items-center">
<button class="btn btn-active " style="margin-left:15px ! important;" routerLink="/barchart">Bar</button>
<button class="btn btn-active  "   routerLink="/columnchart">Column</button>
<button class="btn btn-active" routerLink="/donutchart">Donut</button>
<button class="btn btn-active" routerLink="/dotchart">Dot</button>
<button class="btn btn-active" routerLink="/linechart">Line</button>
<button class="btn btn-active" routerLink="lineareachart">Linearea</button>
<button class="btn btn-active" routerLink="/treechart">Tree</button>
<button class="btn btn-active" routerLink="/stachedcolumn">stachedcolumn</button>
<button class="btn btn-active" routerLink="stachedbar">stachedbar</button>
<button class="btn btn-active" routerLink="/piechart">Pie</button>
<button class="btn btn-active" routerLink="/orgchart">Org</button>
<button class="btn btn-active" routerLink="/heapchart">Heap</button>
</div>

